* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: #ffffff; /* 네비게이션 바 배경색 */
    padding: 0 0px;
    box-shadow: 0 2px 5px rgba(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1100;
    gap: 0; /* 버튼 사이 간격 제거 */
}

  
  .nav-title {
    font-size: 14px;
    font-weight: bold;
    color: #9c2121;
    /* 필요하면 margin-left 등 추가 가능 */
  }
  
  .nav-buttons {
    display: flex;
    align-items: center;
    gap: 1px; /* 버튼들 간격 */
  }
  
.round-btn {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #ffffff;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.round-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.round-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 버튼에 꽉 차게 조정 */
    border-radius: 50%; /* 버튼과 이미지 모두 동그랗게 */
}

.round-btn span {
    position: absolute;
    top: 50%; /* 수직 중앙 정렬 */
    left: 50%; /* 수평 중앙 정렬 */
    transform: translate(-50%, -50%); /* 중앙 위치로 정확히 맞추기 */
    text-align: center;
    color: #ffffff; /* 글자 색상 */
    font-size: 22px;
    font-weight: bold;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7), 0 0 25px rgba(255, 255, 255, 0.7); /* 음영 효과 */
    width: 100%;
}

@media (max-width: 768px) {
    .button-container {
        gap: 15px;
    }

    .round-btn {
        width: 120px;
        height: 120px;
    }

    .round-btn img {
        width: 100%;
        height: 100%;
    }
}
